body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
.komola{
    color:orange;
}
section{
    
    margin-bottom: 150px;
}
.flexible-container{
    display: flex;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    padding-left:5%;
    width: 50%;
}
.half-width img{
    width:85%;
}
.hire{
    text-decoration: none;
    font-weight: 600;
    color:#fff;
    background-image: linear-gradient(#ffa60088,rgb(160, 148, 96));
    padding:10px 30px;
    border-radius: 5px;
    margin-top: 10px;
}
.dream-big{
    display: flex;
    
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.resume{
    padding:15px 40px;
    background-image: linear-gradient(rgb(155, 28, 98) ,rgb(204, 84, 158));
    color:white;
    font-weight:600;
    text-decoration: none;
    margin-top: 30px;
   
}
.dream-big .half-width p{
    margin-bottom: 50px;
}
.experinces{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;

}
.ex-blog{
    display: flex;
}
.exp-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left:10px;
    padding-bottom: 50px;
    border-radius: 10px;
}
.pro-developer{
    border-left: 6px solid;
    border-image: linear-gradient(orange,rgba(145, 143, 71, 0.322));
    border-image-slice: 1;
}
.baby-developer{
    border-left: 6px solid;
    border-image: linear-gradient(rgb(93, 47, 218),rgba(144, 181, 224, 0.322));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}